<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <title>Secret</title>
</head>

<body>
    <section class="hero is-large is-info">
        <div class="hero-body">
            <p class="title">
                This page is only can see by user who are already logged in.</p>
            <p class="subtitle">
                Thanks for logging in, <strong>{{ user_info.profile_name }}</strong>!</p>
        </div>
    </section>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2022 Athallah Abhi and Co.</span>
        </div>
    </footer>
</body>

</html>